.business {
  background-image: url(../img/business.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
}

.business-wrapper {
  width: 50%;
  height: 100%;
  background-color: rgba(237, 239, 241, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.business-title {
  font-size: 30px;
  @extend .mb30;
}

.business-explain {
  width: 70%;
  @extend .mb30;
}

.business-btn {
  @extend .btn;
}
